@import './../../styles/colors.scss';
@import './../../styles/global.scss';
@import './../../styles/mixin.scss';

.blog {
	@include section;
	
	p {
		@include font(20px, lighter);
	}

	&__link {
		@include flex-content(flex, row, center, center);
		margin-top: 20px;
	}

	a:link, a:visited {
		background-color: $color-blue-light;
		@include font;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
	}
	
	a:hover{
		box-shadow: -5px 5px 5px $color-shadow;
	}
	
	a:active {
		box-shadow: none;
		transform: translateY(4px);
	}
}