$color-white: #FFFFFF;
$color-black: #000000;
$color-shadow: #CCCCCC;

$color-gray-light: #EDEEF0;
$color-gray-medium: #E8E8E8;
$color-gray-dark: #E0E0E0;

$color-blue-light: #B1E7EC;
$color-blue-medium: #8FDAE0;
$color-blue-dark: #6ACAD4;