$color-white: #FFFFFF;
$color-black: #000000;

$color-gray-light: #ADB5BD;
$color-gray-medium: #6C757D;
$color-gray-dark: #495057;

$color-blue-light: #E1E5F2;
$color-blue-medium: #B8D0EB;
$color-blue-dark: #1F7A8C;