$color-white: #FFFFFF;
$color-black: #000000;
$color-shadow: #CCCCCC;

// $color-gray-light: #EDEEF0;
// $color-gray-medium: #E8E8E8;
// $color-gray-dark: #E0E0E0;

// $color-gray-light: #CED4DA;
// $color-gray-medium: #ADB5BD;
// $color-gray-dark: #6C757D;

$color-gray-light: #ADB5BD;
$color-gray-medium: #6C757D;
$color-gray-dark: #495057;

$color-blue-light: #E1E5F2;

// blaus cels
$color-blue-medium: #BFDBF7;
// $color-blue-medium: #C8E0F9;

//blau cel-lila
// $color-blue-medium: #B8D0EB;

// blaus turqueses electrics
// $color-blue-medium: #addcff;
// $color-blue-medium: #C2E4FF;

// $color-blue-medium: #DBEBFB;

$color-blue-shadow: #2CAFC9;

$color-blue-dark: #1F7A8C;