@import './../../styles/colors.scss';
@import './../../styles/global.scss';
@import './../../styles/mixin.scss';

.lateralNavigator {
	@include flex-content(flex, column, center, center);
	width: 40px;
	margin: 0 30px;
	position: -webkit-sticky;
	position: sticky;
	top: 60px;
	list-style: none;

	&__image {
		width: 36px;
		border-radius: 50%;
		margin-bottom: 30px;
	}

	.material-icons-outlined.md-36 { 
		font-size: 36px;
		margin-bottom: 30px;
	}

	&__tooltip {
		visibility: hidden;
		width: 100px;
		height: 35px;
		background-color: $color-white;
		@include font(18px, lighter);
		text-align: center;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		box-shadow: -10px 10px 10px $color-shadow;
		right: 110%;
		opacity: 0;
		transition-property: opacity;
		transition-duration: 0.3s;
		transition-timing-function: linear;
		transition-delay: 0.1s;
	}
	
	&__item:hover &__tooltip {
		visibility: visible;
		opacity: 1;
	}

	a:link, a:visited {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}
	
	a:hover, a:active {
		color: transparentize($color: $color-black, $amount: 0.5)
	}

}